nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px 78px;
    position: relative;
}

nav a {
    color: #F0F7F4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}